@page "/clientes"
@inject IClienteService ClienteService
@inject NavigationManager NavigationManager
@inject SweetAlertService SweetAlert

<HeaderPage TitlePage="Clientes"/>

@if (clientes == null)
{
    <p><em>Obteniendo lista de clientes...</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="AgregarCliente">Agregar Nuevo Cliente</button>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in clientes)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Direccion</td>
                    <td>@cliente.Telefonos</td>
                    <td>
                        <a href="/editarcliente?IdClienteEditado=@cliente.Id">Editar</a>
                    </td>
                    <td>
                        <button title="Eliminar" class="btn btn-danger" @onclick="@(()=>Eliminar(cliente))">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<Cliente>? clientes;

    protected override async Task OnInitializedAsync()
    {
        clientes = await ClienteService.GetAllAsync();
    }
    private void AgregarCliente()
    {
        // Redirigir a la página para agregar una nueva localidad
        NavigationManager.NavigateTo("/nuevocliente");
    }
    private async Task Eliminar(Cliente cliente)
    {
        SweetAlertResult respuesta = await SweetAlert.FireAsync(new SweetAlertOptions
            {
                Title = "Borrando Cliente",
                Text = $"¿Está seguro que desea borrar este cliente {cliente.Nombre}?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Sí, quiero borrarlo",
                CancelButtonText = "No, esperar"
            });

        if (respuesta.IsConfirmed)
        {
            await ClienteService.DeleteAsync(cliente.Id);
            clientes = await ClienteService.GetAllAsync();
            StateHasChanged();
        }
    }
} 